@font-face {
  font-family: "KimjungchulMyungjo";
  src: url("../font/KimjungchulMyungjo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NanumGothic";
  src: url("../font/NanumGothic.ttf");
  font-weight: bold;
}

body {
  background-image: url('../images/background/background.png');
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: "KimjungchulMyungjo";
}

button {
    background-color: transparent;
}

.container {
  width: 800px;
  margin: auto;
}

.custom-button {
  background-size: contain;
  text-indent: -99999px;
  border: none;
  cursor: pointer;
}

/* position 삭제, layout 수정 필요 */
.home {
  background-image: url('../images/homebutton.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  text-indent: -99999px;
  cursor: pointer;
}