.multi-lang {
  margin: 20px 20px 200px 0;
  text-align: right;
}

.multi-lang img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.title-desc {
  margin-bottom: 40px;
}

.title-desc > h1 {
  font-size: 40px;
}

.contents-desc {
  margin-bottom: 150px;
}

.produce-desc {
  font-size: 12px;
  font-weight: 200;
}