.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #004AAD;
}

h1 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

canvas {
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.chart-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.asset-layout {
  height: 400px;
  margin-bottom: 50px;
}

.asset-container {
  width: 50%;
  height: 400px;
  float: left;
}

#imageContainer {
  margin-right: 40px;
}

.selected-tray-container {
  background-color: #fff;
  width: 1000px;
  height: 1000px;
  margin: 50px auto 0;
  padding: 30px;
  box-sizing: border-box;
}

.selected-tray {
  background-image: url('../images/selected_diet.png');
  background-size: cover;
  width: 235px;
  height: 55px;
  text-indent: -99999px;
  margin: 0 auto 50px;
}