body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.category, .food-selection, #tray, #calories {
    display: none;
    margin: 20px;
}
.category {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.category button, .food-selection button {
    padding: 10px 20px;
    font-size: 18px;
}
#tray {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tray h3 {
    margin-bottom: 10px;
}
#calories button {
    padding: 10px 20px;
    font-size: 18px;
}

.food {
    font-size: 24px;
    color: red;
}

#categories button {
    background-color: black;
    color: white; /* 글씨가 잘 보이도록 글자색을 흰색으로 변경 */
}

/* Start 버튼에 애니메이션 적용 */
#startButton {
    position: relative;
    animation: moveSideways 2s infinite;
}